flow2.json
[
    {
        "id": "56f485d6d09fa4e0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd12cb8fcb079f9f",
        "type": "inject",
        "z": "56f485d6d09fa4e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 140,
        "wires": [
            [
                "939c466236696839"
            ]
        ]
    },
    {
        "id": "a06b352692159bab",
        "type": "debug",
        "z": "56f485d6d09fa4e0",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "939c466236696839",
        "type": "function",
        "z": "56f485d6d09fa4e0",
        "name": "function 1",
        "func": "//Lo que esta despues de \"//\" son comentarios\n//Crea un objeto DAte a partir del payload enviado por\nvar date = new Date(msg.payload);\n//Cambia el payload para quesea una fecha con formato\nmsg.payload = date.toString();\n//Registra el mensaje para que se envie al siguiente nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "a06b352692159bab"
            ]
        ]
    }
]